<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <form id="form" action="">
        <input id="input" autocomplete="off" /><button>Add User to Conversation</button>
      </form>    
      <form id="form2" action="">
        <input id="input2" autocomplete="off" /><button>Send Message</button>
      </form>   
      <form id="form3" action="">
        <input id="input3" autocomplete="off" /><button>Edit Message</button>
      </form>        
      <button onclick = "setupUser()">Setup User</button>
      <button onclick = "setupUser2()">Setup User2</button>
      <button onclick = "createUser()">Create User</button>
      <button onclick = "getMessage()">Get Message</button>
      <button onclick = "createConversation()">Create Conversation</button>
      <button onclick = "deleteMessage()">Delete Message</button>
      <button onclick = "deleteConversation()">Delete Conversation</button>
      <button onclick = "getUsers()">Get Users</button>
    <script>
        var socket = io();  
        socket.on("newMessage", (data) => {
            console.log(data);
        })

        socket.on("gotMessage", (data) => {
            console.log(data);
        })
        var form = document.getElementById('form');
        var input = document.getElementById('input');

        form.addEventListener('submit', function(e) {
            e.preventDefault();
            if (input.value) {
                const data = {
                    conversationId: "6488df1ef7c904a976960d8a",
                    userId: input.value
                }
            socket.emit('addUserToConvo', data);
            input.value = '';
            }
        });

        var form2 = document.getElementById('form2');
        var input2 = document.getElementById('input2');

        form2.addEventListener('submit', function(e) {
            e.preventDefault();
            if (input2.value) {
                const data = {
                    conversationIds: "6488df1ef7c904a976960d8a",
                    userId: "64835a8931ce22c44d29e953",
                    message: input2.value
                }
            socket.emit('sendMessage', data);
            input2.value = '';
            }
        });

        var form3 = document.getElementById('form3');
        var input3 = document.getElementById('input3');

        form3.addEventListener('submit', function(e) {
            e.preventDefault();
            if (input3.value) {
                const data = {
                    messageId: "64876b7d2d8da88569c92a06",
                    text: input3.value
                }
            socket.emit('editMessage', data);
            input3.value = '';
            }
        });

        setupUser = () => {
            socket.emit('userId', "64835a8931ce22c44d29e953");
        }

        setupUser2 = () => {
            socket.emit('userId', "64835a8931ce22c44d29e952");
        }

        createUser = () => {
            socket.emit('createUser', {userId: "64835a8931ce22c44d29e953", username: ""})
        }

        getMessage = () => {
            socket.emit('getMessages', { conversationId: "6488df1ef7c904a976960d8a", index: 0});
        }

        createConversation = () => {
            socket.emit('createConversation', {});
        }

        deleteMessage = () => {
            socket.emit('deleteMessage', { messageId: "6487b7bb14f8755fae7f8691" });
        }

        deleteConversation = () => {
            socket.emit('deleteConversation', { conversationId: "6488df1ef7c904a976960d8a"})
        }

        getUsers = () => {
            socket.emit('getUsers', { conversationId: "6488df1ef7c904a976960d8a"})
        }
    </script>
    
</body>
</html>